{% extends 'main/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card shadow">
      <div class="text-center">
        <h5 class="card-header text-primary text-uppercase font-weight-bold">Reset Password</h5>
      </div>
      <div class="card-body text-center">
        <p>We have sent you an e-mail to reset your password. If it is not in your inbox, please check your spam folder. Click on the link to reset your password</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
