{% extends 'main/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card card-primary shadow">
      <div class="text-center">
        <h5 class="card-header text-primary text-uppercase font-weight-bold">Home</h5>
      </div>
      <div class="card-body">
        {% if family is None %}
          <div class="row justify-content-center">
            <div class="col-md-6 col-lg-3 py-2">
              <div class="card bg-primary text-white h-100">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-users"></i> Join Family</h5>
                  <a href="{% url 'join_family' %}" class="stretched-link text-white">Join with your family code</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 py-2">
              <div class="card bg-success text-white h-100">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-plus-circle"></i> Create Family</h5>
                  <a href="{% url 'create_family' %}" class="stretched-link text-white">Create your family</a>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <div class="row">
            <div class="col-md-6 col-lg py-2">
              <div class="card bg-primary text-white h-100">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-trophy"></i> Leaderboard</h5>
                  <a href="{% url 'leaderboard' %}" class="stretched-link text-white">View family leaderboard</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg py-2">
              <div class="card bg-warning text-white h-100">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-history"></i> Records</h5>
                  <a href="{% url 'records' %}" class="stretched-link text-white">View my records</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg py-2">
              <div class="card bg-success text-white h-100">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-plus-circle"></i> New Record</h5>
                  <a href="{% url 'create' %}" class="stretched-link text-white">Add new record</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg py-2">
              <div class="card bg-info text-white h-100">
                <div class="card-body">
                  <h5 class="card-title"><i class="fas fa-users"></i> My Family</h5>
                  <a href="{% url 'info_family' %}" class="stretched-link text-white">View family info</a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
