{% extends 'main/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-primary shadow">
            <div class="text-center">
                <h5 class="card-header text-primary text-uppercase">Home</h5>
            </div>
            <div class="card-body">
                <a class="btn btn-primary btn-block" href="{% url 'leaderboard' %}"><i class="fas fa-trophy"></i> Go to leaderboard</a>
                <a class="btn btn-info btn-block" href="{% url 'records' %}"><i class="fas fa-history"></i> View my records</a>
                <a class="btn btn-success btn-block" href="{% url 'create' %}"><i class="fas fa-plus-circle"></i> Add new record</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}