{% extends 'main/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="card text-center shadow">
      <div class="text-center">
        <h5 class="card-header text-primary text-uppercase font-weight-bold">Share family code</h5>
      </div>
      <div class="card-body">
        <h3>{{ family.name }}</h3>
        <h3 class="font-weight-bold">{{ family.code }}</h3>
        <a href="{% url 'home' %}" class="btn btn-primary"><i class="fas fa-home"></i> Go To Home</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
